{{ partial "header.html" . }}



<main class="content" role="main">
 <h1 class="article-title">R Time Series Workshop: Feb 3rd, 2022</h1>
 <h3> UQ Library & Pharmacy Australia Centre of Excellence </h3>
 
 <h1 class="article-title">Working and Analysing with Time Series Data in R</h1>
 <ul>


   <li><a href="/2022/02/03/Part-1:-Working-with-time-series-data/" class="archive-title-link">Data manipulation</a></li>
   <li><a href="/2021/11/02/day-1.2-data-visualization/" class="archive-title-link">Data visualization</a></li>

 </ul>


</main>

{{ partial "footer.html" . }}
